Repository schlunzis/Kurtama, pull requests merged in 2023-11, with the labels that each got.

#51 46 issue introducing profiles for development testing and production
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/LoginController.java
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/login.fxml
  server/src/main/java/org/schlunzis/kurtama/server/ServerApp.java
  server/src/main/java/org/schlunzis/kurtama/server/config/DevelopmentConfig.java
  server/src/main/java/org/schlunzis/kurtama/server/user/H2UserStore.java
Labels: enhancement, meta, java

#50 Fixing id generation
  server/src/main/java/org/schlunzis/kurtama/server/net/ISession.java
  server/src/main/java/org/schlunzis/kurtama/server/net/UUIDSession.java
  server/src/main/java/org/schlunzis/kurtama/server/net/impl/ChannelStore.java
Labels: bugfix

#48 Removing LoginEvent
  server/src/main/java/org/schlunzis/kurtama/server/auth/LoginEvent.java
Labels: java

#62 introduce LobbyInfo for LobbyListInfoMessage
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/MainMenuController.java
  client/src/main/java/org/schlunzis/kurtama/client/service/ISessionService.java
  client/src/main/java/org/schlunzis/kurtama/client/service/impl/SessionService.java
  common/src/main/java/org/schlunzis/kurtama/common/LobbyInfo.java
  common/src/main/java/org/schlunzis/kurtama/common/messages/lobby/server/LobbyListInfoMessage.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyService.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/ServerLobby.java
Labels: java

#64 Remove lobby if empty
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyService.java
Labels: enhancement, java

#65 Add cell factory for lobby list view
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/MainMenuController.java
Labels: enhancement, java

#66 61 bug newly logged in users dont get the lobby info
  client/src/main/java/org/schlunzis/kurtama/client/fx/scene/SceneController.java
  client/src/main/java/org/schlunzis/kurtama/client/service/impl/SessionService.java
  common/src/main/java/org/schlunzis/kurtama/common/messages/authentication/login/LoginSuccessfulResponse.java
  common/src/main/java/org/schlunzis/kurtama/common/messages/authentication/register/RegisterSuccessfulResponse.java
  server/src/main/java/org/schlunzis/kurtama/server/auth/AuthenticationService.java
Labels: bug, java

#76 Adding combination from .gitattributes files
  .gitattributes
Labels: documentation, enhancement, meta

#75 70 feature request add maven wrapper to the project
  .github/workflows/build.yml
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: documentation, enhancement, meta, dependencies

#79 Create an AbstractService in server
  server/src/main/java/org/schlunzis/kurtama/server/auth/AuthenticationService.java
  server/src/main/java/org/schlunzis/kurtama/server/auth/IAuthenticationService.java
  server/src/main/java/org/schlunzis/kurtama/server/auth/UserSessionMap.java
  server/src/main/java/org/schlunzis/kurtama/server/chat/ChatService.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyService.java
  server/src/main/java/org/schlunzis/kurtama/server/service/AbstractService.java
Labels: java

#82 54 feature request add user to clientmessagewrapper
  server/src/main/java/org/schlunzis/kurtama/server/chat/ChatService.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyService.java
  server/src/main/java/org/schlunzis/kurtama/server/net/ClientMessageDispatcher.java
  server/src/main/java/org/schlunzis/kurtama/server/net/ClientMessageWrapper.java
  server/src/main/java/org/schlunzis/kurtama/server/net/impl/ServerHandler.java
Labels: java

#84 6 lobby chat
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/ChatController.java
  client/src/main/java/org/schlunzis/kurtama/client/service/ISessionService.java
  client/src/main/java/org/schlunzis/kurtama/client/service/impl/SessionService.java
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/lobby.fxml
  common/src/main/java/org/schlunzis/kurtama/common/ILobby.java
  common/src/main/java/org/schlunzis/kurtama/common/LobbyDTO.java
  common/src/main/java/org/schlunzis/kurtama/common/messages/lobby/server/LobbyLeaveFailedResponse.java
  mvnw.cmd
  server/src/main/java/org/schlunzis/kurtama/server/auth/AuthenticationService.java
  server/src/main/java/org/schlunzis/kurtama/server/chat/Chat.java
  server/src/main/java/org/schlunzis/kurtama/server/chat/ChatManagement.java
  server/src/main/java/org/schlunzis/kurtama/server/chat/ChatService.java
  server/src/main/java/org/schlunzis/kurtama/server/chat/ChatStore.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyManagement.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyService.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyStore.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/ServerLobby.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/exception/LobbyNotFoundException.java
Labels: java

#87 Allow only one logged in session per user
  server/src/main/java/org/schlunzis/kurtama/server/auth/AuthenticationService.java
Labels: enhancement, java, bugfix

#96 adding mockito to pom
  pom.xml
Labels: dependencies

#103 Fixing maven build warnings
  pom.xml
Labels: enhancement, dependencies
