Repository schlunzis/Kurtama, pull requests merged in 2024-01, with the labels that each got.

#117 101 issue chat thread safe
  server/src/main/java/org/schlunzis/kurtama/server/auth/UserSessionMap.java
  server/src/main/java/org/schlunzis/kurtama/server/chat/ChatManagement.java
  server/src/main/java/org/schlunzis/kurtama/server/chat/ChatService.java
  server/src/main/java/org/schlunzis/kurtama/server/config/AsynchronousSpringEventsConfig.java
Labels: enhancement, java

#128 Updating log4j2 config
  client/src/main/resources/log4j2.xml
  server/src/main/resources/log4j2.xml
Labels: enhancement, meta

#88 Adding userlist to lobby
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/LobbyController.java
  client/src/main/java/org/schlunzis/kurtama/client/service/ILobbyService.java
  client/src/main/java/org/schlunzis/kurtama/client/service/impl/LobbyService.java
  client/src/main/java/org/schlunzis/kurtama/client/service/impl/SessionService.java
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/lobby.fxml
  common/src/main/java/org/schlunzis/kurtama/common/messages/lobby/server/UserJoinedLobbyMessage.java
  common/src/main/java/org/schlunzis/kurtama/common/messages/lobby/server/UserLeftLobbyMessage.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyManagement.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyService.java
Labels: enhancement, java

#119 118 feature request networkserver lib agnostic
  server/src/main/java/org/schlunzis/kurtama/server/ServerApp.java
  server/src/main/java/org/schlunzis/kurtama/server/auth/AuthenticationService.java
  server/src/main/java/org/schlunzis/kurtama/server/net/ClientMessageDispatcher.java
  server/src/main/java/org/schlunzis/kurtama/server/net/ISession.java
  server/src/main/java/org/schlunzis/kurtama/server/net/NetworkServerInitializer.java
  server/src/main/java/org/schlunzis/kurtama/server/net/NetworkService.java
  server/src/main/java/org/schlunzis/kurtama/server/net/SessionType.java
  server/src/main/java/org/schlunzis/kurtama/server/net/UUIDSession.java
  server/src/main/java/org/schlunzis/kurtama/server/net/impl/ChannelStore.java
  server/src/main/java/org/schlunzis/kurtama/server/net/impl/IChannelStore.java
  server/src/main/java/org/schlunzis/kurtama/server/net/netty/NettyServer.java
  server/src/main/java/org/schlunzis/kurtama/server/net/netty/ServerHandler.java
  server/src/main/java/org/schlunzis/kurtama/server/net/util/ChannelStore.java
  server/src/main/java/org/schlunzis/kurtama/server/net/util/MessageConverter.java
  server/src/main/java/org/schlunzis/kurtama/server/service/AbstractMessageContext.java
  server/src/main/java/org/schlunzis/kurtama/server/service/ClientMessageContext.java
  server/src/main/java/org/schlunzis/kurtama/server/service/ResponseAssembler.java
  server/src/main/java/org/schlunzis/kurtama/server/service/SecondaryRequestContext.java
  server/src/main/java/org/schlunzis/kurtama/server/service/ServerMessageWrapper.java
  server/src/main/java/org/schlunzis/kurtama/server/service/ServerMessageWrappers.java
  server/src/main/resources/application.properties
Labels: enhancement, java

#135 Disabling joinLobby button when no lobby is selected
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/MainMenuController.java
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/main.fxml
Labels: enhancement, bugfix
