Repository schlunzis/Kurtama, pull requests merged in 2024-03, with the labels that each got.

#155 121 issue packaging
  .github/workflows/build-jar.yml
  .github/workflows/build-jpackage.yml
  .github/workflows/build.yml
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
  .github/workflows/tagged-build.yml
  .github/workflows/test-build.yml
  .github/workflows/verify-client.yml
  .github/workflows/verify-server.yml
  .github/workflows/verify.yml
  README.md
  build-client.sh
  client/jpackage/postinst
  client/jpackage/postrm
  client/src/main/java/org/schlunzis/kurtama/client/settings/UserSettings.java
  pom.xml
Labels: github_actions

#161 85 feature request scroll chat down automatically unless paused
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/ChatController.java
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/chat.fxml
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/chat.css
Labels: enhancement, java

#167 165 feature request docker
  .github/workflows/build-docker.yml
  .github/workflows/release.yml
  Dockerfile
  pom.xml
Labels: enhancement, github_actions, deployment

#170 Names and Triggers for Actions
  .github/workflows/build-jar.yml
  .github/workflows/build-jpackage.yml
  .github/workflows/build.yml
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
  .github/workflows/tagged-build.yml
  .github/workflows/test-build.yml
  .github/workflows/test-client.yml
  .github/workflows/test-server.yml
  .github/workflows/verify.yml
  README.md
  build-client.sh
Labels: github_actions

#178 Create LICENSE
  LICENSE
Labels: meta

#177 update maven wrapper to 3.9.6
  .mvn/wrapper/maven-wrapper.properties
Labels: dependencies

#181 adding edges to the game model
  client/src/main/java/org/schlunzis/kurtama/client/fx/TilePane.java
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/GameController.java
  common/src/main/java/org/schlunzis/kurtama/common/game/model/EdgeDTO.java
  common/src/main/java/org/schlunzis/kurtama/common/game/model/ITerrainDTO.java
  common/src/main/java/org/schlunzis/kurtama/common/game/model/SquareTerrainDTO.java
  common/src/main/java/org/schlunzis/kurtama/common/game/model/SquareTileDTO.java
  server/src/main/java/org/schlunzis/kurtama/server/game/Game.java
  server/src/main/java/org/schlunzis/kurtama/server/game/SquareGameFactory.java
  server/src/main/java/org/schlunzis/kurtama/server/game/SquareTerrainFactory.java
  server/src/main/java/org/schlunzis/kurtama/server/game/model/Edge.java
  server/src/main/java/org/schlunzis/kurtama/server/game/model/EdgeData.java
  server/src/main/java/org/schlunzis/kurtama/server/game/model/ITile.java
  server/src/main/java/org/schlunzis/kurtama/server/game/model/SquareTerrain.java
  server/src/main/java/org/schlunzis/kurtama/server/game/model/SquareTile.java
  server/src/main/java/org/schlunzis/kurtama/server/game/model/factory/SquareTerrainFactory.java
  server/src/main/java/org/schlunzis/kurtama/server/game/model/factory/TerrainFactory.java
  server/src/test/java/org/schlunzis/kurtama/server/game/model/factory/SquareTerrainFactoryTest.java
Labels: enhancement, java
