Repository schlunzis/Kurtama, pull requests merged in 2024-02, with the labels that each got.

#139 Prepend packet length before sending
  client/src/main/java/org/schlunzis/kurtama/client/net/impl/NettyClient.java
  server/src/main/java/org/schlunzis/kurtama/server/lobby/LobbyService.java
  server/src/main/java/org/schlunzis/kurtama/server/net/netty/NettyServer.java
Labels: bugfix

#124 Tests in Server
  server/src/main/java/org/schlunzis/kurtama/server/auth/AuthenticationService.java
  server/src/main/java/org/schlunzis/kurtama/server/net/ClientMessageDispatcher.java
  server/src/main/java/org/schlunzis/kurtama/server/net/INetworkServer.java
  server/src/main/java/org/schlunzis/kurtama/server/net/NetworkServerInitializer.java
  server/src/main/java/org/schlunzis/kurtama/server/net/NetworkService.java
  server/src/main/java/org/schlunzis/kurtama/server/service/AbstractMessageContext.java
  server/src/main/java/org/schlunzis/kurtama/server/service/ClientMessageContext.java
  server/src/main/java/org/schlunzis/kurtama/server/service/SecondaryRequestContext.java
  server/src/test/java/org/schlunzis/kurtama/server/auth/AuthenticationServiceTest.java
  server/src/test/java/org/schlunzis/kurtama/server/auth/UserSessionMapTest.java
  server/src/test/java/org/schlunzis/kurtama/server/net/ClientMessageDispatcherTest.java
  server/src/test/java/org/schlunzis/kurtama/server/net/NetworkServiceTest.java
Labels: java, tests

#145 133 feature request make the css for the client much prettier
  client/pom.xml
  client/src/main/java/org/schlunzis/kurtama/client/fx/ClientApp.java
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/ChatController.java
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/chat.fxml
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/chat.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/login.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/main.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/register.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/style.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/login.fxml
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/main.fxml
  server/src/main/java/org/schlunzis/kurtama/server/net/NetworkServerInitializer.java
Labels: enhancement, java

#151 150 issue bimap
  server/src/main/java/org/schlunzis/kurtama/server/auth/UserSessionMap.java
  server/src/main/java/org/schlunzis/kurtama/server/net/util/ChannelStore.java
  server/src/main/java/org/schlunzis/kurtama/server/util/BiHashMap.java
  server/src/main/java/org/schlunzis/kurtama/server/util/BiMap.java
  server/src/main/java/org/schlunzis/kurtama/server/util/ConcurrentBiHashMap.java
  server/src/test/java/org/schlunzis/kurtama/server/util/BiMapTest.java
Labels: enhancement, java

#152 146 feature request user defined server connection and feedback
  client/src/main/java/org/schlunzis/kurtama/client/events/ConnectionStatusEvent.java
  client/src/main/java/org/schlunzis/kurtama/client/events/NewServerConnectionEvent.java
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/LoginController.java
  client/src/main/java/org/schlunzis/kurtama/client/net/INetworkClient.java
  client/src/main/java/org/schlunzis/kurtama/client/net/NetworkServerFactory.java
  client/src/main/java/org/schlunzis/kurtama/client/net/NetworkService.java
  client/src/main/java/org/schlunzis/kurtama/client/net/NetworkStartThread.java
  client/src/main/java/org/schlunzis/kurtama/client/net/impl/ClientHandler.java
  client/src/main/java/org/schlunzis/kurtama/client/net/impl/NettyClient.java
  client/src/main/java/org/schlunzis/kurtama/client/service/ISessionService.java
  client/src/main/java/org/schlunzis/kurtama/client/service/impl/SessionService.java
  client/src/main/java/org/schlunzis/kurtama/client/settings/IUserSettings.java
  client/src/main/java/org/schlunzis/kurtama/client/settings/Setting.java
  client/src/main/java/org/schlunzis/kurtama/client/settings/UserSettings.java
  client/src/main/resources/application.properties
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/chat.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/login.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/main.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/style.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/login.fxml
Labels: enhancement, java

#153 removing the create lobby dialog and adding the fields to the main menu
  client/src/main/java/org/schlunzis/kurtama/client/fx/controller/MainMenuController.java
  client/src/main/java/org/schlunzis/kurtama/client/fx/dialog/CreateLobbyDialog.java
  client/src/main/java/org/schlunzis/kurtama/client/fx/dialog/CreateLobbyDialogResult.java
  client/src/main/java/org/schlunzis/kurtama/client/fx/dialog/DialogFactory.java
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/css/main.css
  client/src/main/resources/org/schlunzis/kurtama/client/fx/controller/main.fxml
Labels: enhancement, java
